Makefile*
config.h
crimesquad
*.o
*.dirstamp

aclocal.m4
autom4te.cache/

configure
depcomp
install-sh
missing
.deps/
build/
stamp-h1
compile
config.log
config.status
config.h.in
*~

/workspaces/Release/*.obj
/workspaces/Release/*.tlog
/workspaces/game.sdf
/workspaces/game.v11.suo
/workspaces/Release/*.pdb
game.layout
game.depend

