.*~
*~
aclocal.m4
autom4te.cache/
compile
config.aux
config.h
config.h.in
config.log
config.m4
config.status
configure
crimesquad
depcomp
.deps/
*.dirstamp
game.depend
game.layout
install-sh
!lib/libsdl2/build-scripts/*
!lib/libsdl2/configure
!lib/libsdl2/Makefile.in
!lib/libsdl2/test/*
Makefile
Makefile.in
missing
*.o
stamp-h1
/workspaces/game.sdf
/workspaces/game.v11.suo
/workspaces/Release/*.obj
/workspaces/Release/*.pdb
/workspaces/Release/*.tlog
