[Desktop Entry]
Type=Application
Version=1.0
Name=Liberal Crime Squad
Comment=Pursue your Liberal Agenda!
Categories=Game;RolePlaying;
Exec=crimesquad
Terminal=true
